@tailwind base;
@tailwind components;
@tailwind utilities;

/* Perbaiki scrollbar untuk browser tertentu */
html {
    overflow: -moz-scrollbars-none !important;
}

body {
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
}

body::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    background: transparent !important;
}

/* NProgress Spinner fix */
#nprogress .spinner {
  display: block !important;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: white;
  border-left-color: white;
  border-radius: 50%;

  animation: nprogress-spinner 400ms linear infinite;
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
